{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 pt-5">
            <h2>{% trans "Log Out" %}</h2>
            <p>{% trans 'Are you sure you want to log out?' %}</p>
            <div class="exit-link">
                <p>If you're not sure, then please
                    <a href="{% url 'home' %}" class="exit-link">Exit</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 pb-5 pt-4">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup btn-sm btn-success" type="submit">{% trans 'Log Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}