/* Header */
.image-container-fluid{
    background: url('../images/Green-Cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-position: center;
    position: relative;
    margin: 0;
}

.image-text{
    color: #FFFFFF;
    margin-top: 35px;
    font-family: Ralway, sans-serif;
    display: block;
}

.image-text h1{
    font-size: 6vw;
    font-weight: 700;
    color: #1A2D14;
    margin-bottom: 45px;
    text-shadow: -2px -2px 2px rgb(249, 248, 248), 0 0 25px rgb(254, 254, 255), 0 0 15px rgb(240, 240, 244);
}

.image-text p{
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 0.8; 
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px green;
    margin-top: 5px;
}

/* Main */
.brand {
    font-family: Ralway, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #4A4A4F;
}

.thin {
    font-weight: 100;
}

.card {
    border: none;
    background-color: transparent;
    font-family: Ralway, sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: #4A4A4F;
}

.card-heading{
    font-family: Ralway, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    color: #4A4A4F;
    text-decoration: underline;
}

.img-thumbnail{
    padding: 8px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 38%;
    min-width: 30%;
    left: 8px;
    background-color: #8CBC8A;
    opacity: 85%;
    padding: 8px;
    text-shadow: 1px 1px 1px black;
}

.cocktail {
    color: #D8FDDA;
    margin: 4px;
    text-transform: uppercase;
    font-family: Ralway, sans-serif;
    font-weight: 400;
}    

.post-link {
    text-decoration: none;
    color: #4A4A4F;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.recipe-link {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}