/* Header */
.image-container-fluid{
    background: url('../images/Green-Cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-position: center;
    position: relative;
    margin: 0;
}

.image-text{
    color: #FFFFFF;
    margin-top: 35px;
    font-family: Ralway, sans-serif;
    display: block;
}

.image-text h1{
    font-size: 6vw;
    font-weight: 700;
    color: #1A2D14;
    margin-bottom: 45px;
    text-shadow: -2px -2px 2px rgb(249, 248, 248), 0 0 25px rgb(254, 254, 255), 0 0 15px rgb(240, 240, 244);
}

.image-text p{
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 0.8; 
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px green;
    margin-top: 5px;
}

/* Main page */
.brand {
    font-family: Ralway, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #4A4A4F;
}

.thin {
    font-weight: 100;
}

.main-bg {
    background-color: #D8FDDA;
}

.card {
    border: none;
    background-color: transparent;
    font-family: Ralway, sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: #4A4A4F;
}

.card-heading{
    font-family: Ralway, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    color: #4A4A4F;
    text-decoration: underline;
}

.img-thumbnail{
    padding: 8px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 38%;
    min-width: 30%;
    left: 8px;
    background-color: #8CBC8A;
    opacity: 85%;
    padding: 8px;
    text-shadow: 1px 1px 1px black;
}

.cocktail {
    color: #D8FDDA;
    margin: 4px;
    text-transform: uppercase;
    font-family: Ralway, sans-serif;
    font-weight: 400;
}    

.post-link {
    text-decoration: none;
    color: #4A4A4F;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.recipe-link {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.recipe-link a{
    color: #198754;
    text-decoration: none;
}

.recipe-link :hover{
    color: #282928;
    text-decoration: underline;
}

.link {
    color: #198754;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.pagination a{
    text-decoration: none;
    color: #198754;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    font-weight: 700;
}

.pagination a:hover{
    text-decoration: none;
    color: #282928;
    padding: 10px;
    background: none; 
}

.btn-signup {
    text-shadow: 1px 1px 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-signup:hover {
    background-color: #B2D2B1;
}

.btn-login{
    text-shadow: 1px 1px 1px black;
}

/* Recipe detail page */
.choices{
    position: relative;
    margin-top: 10px;
}

.main-head {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 25vh;
    width: 100%;
}

.main-head-text {
    background-color: #B2D2B1;
    color: #FFFFFF;
    position: relative;
    bottom: 70px;
}

.main-head-image {
    position: relative;
    overflow: hidden;
}

.main-head-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 80%;
    height: 145%;
    width: 190%;
    background: #B2D2B1;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.cocktail-title {
    margin-top: 20%;
    margin-left: 5%;
    font-size: 50px;
}

.cocktail-subtitle {
    margin-left: 5%;
}

.btn-like {
    color: #F74F4F;
    border: none;
    background: transparent;
}

.btn-like:active {
    color: #F74F4F;
    background: transparent;
    border: none;
}