/* Header */
.image-container-fluid{
    background: url('https://res.cloudinary.com/dinbzvx8s/image/upload/v1699958088/static/images/Green-Cocktail.433b7e87ae8d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 63vh;
    background-position: center;
    position: relative;
    margin: 0;
}

.image-text{
    color: #FFFFFF;
    margin-top: 35px;
    font-family: Ubuntu, sans-serif;
    display: block;
}

.image-text h1{
    font-weight: 700;
    color: #1A2D14;
    margin-bottom: 25px;
    text-shadow: -2px -2px 2px rgb(249, 248, 248), 0 0 25px rgb(254, 254, 255), 0 0 15px rgb(240, 240, 244);
}

.image-text p{
    font-weight: 500;
    line-height: 0.8; 
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px green;
    margin-top: 2px;
}

.sub-text{
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #4A4A4F;
}



/* Main page */
.brand {
    font-family: Ubuntu, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #4A4A4F;
}

.nav-item a {
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #4A4A4F;
}

.main-bg {
    background-color: #D8FDDA;
}

.card {
    border: none;
    background-color: transparent;
    font-family: Ubuntu, sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    color: #4A4A4F;
}

.card-heading{
    font-family: Ubuntu, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    color: #4A4A4F;
    text-decoration: underline;
}

.img-thumbnail{
    padding: 8px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 38%;
    max-width: 65%;
    left: 9px;
    background-color: #8CBC8A;
    opacity: 90%;
    text-shadow: 1px 1px 1px black;
}

.cocktail {
    color: #D8FDDA;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}    

.post-link {
    text-decoration: none;
    color: #4A4A4F;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.recipe-link {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.recipe-link a{
    color: #198754;
    text-decoration: none;
    font-weight: 400;
}

.recipe-link :hover{
    color: #282928;
    text-decoration: underline;
}

.link {
    color: #198754;
    text-decoration: none;
    font-weight: 400;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-signup {
    text-shadow: 1px 1px 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-signup:hover {
    background-color: #B2D2B1;
}

.btn-login{
    text-shadow: 1px 1px 1px black;
}

/* Pagination */
.pagination a{
    text-decoration: none;
    color: #198754;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    font-weight: 700;
}

.pagination a:hover{
    text-decoration: none;
    color: #282928;
    padding: 10px;
    background: none; 
}


/* Recipe detail page */
.main-head {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.main-head-text {
    background-color: #B2D2B1;
    color: #FFFFFF;
    position: relative;
}

.main-head-image {
    position: relative;
    overflow: hidden;
}

.main-head-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 80%;
    height: 100%;
    width: 150%;
    background: #B2D2B1;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.cocktail-title {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 50px;
    padding-top: 30px;
}

.cocktail-subtitle {
    margin-left: 5%;
}

.btn-like {
    color: #F74F4F;
    border: none;
    background: transparent;
}

.btn-like:active {
    color: #F74F4F;
    background: transparent;
    border: none;
}

.card-heading{
    font-weight: 200;
}

/* Delete page */
.exit-link a{
    color: #198754;
    text-decoration: none;
}

.exit-link a:hover{
    color: #282928;
    text-decoration: underline;
}

/* 403, 404, 500 pages */
.return-home {
    color: #198754;
    text-decoration: none;
    font-weight: normal;
}

.return-home:hover{
    color: #282928;
    text-decoration: underline;
}

.error h1{
    font-family: Ubuntu, sans-serif;
    font-size: 2,5rem;
    font-weight: 400;
    color: #4A4A4F;
}

.error p{
    font-family: Ubuntu, sans-serif;
    font-size: 2,5rem;
    font-weight: 300;
    color: #4A4A4F;
}

/* Register, Login, Logout pages*/
.col-md-8 h3 {
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #4A4A4F;
}

.col-md-8 h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #4A4A4F;
    padding-bottom: 8px;
}

.col-md-8 p {
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #4A4A4F;
}