{% extends "base.html" %}

{% block content %}

<header>

    <div class="image-container-fluid position-relative text-justify">
        <div class="row img-fluid position-absolute top-0 start-50 translate-middle-x">

            <div class="col-12 image-text text-center mx-auto" style="width: 850px;">
                <h1 class="display-1 d-inline-flex pt-2">Cocktail <span class="mx-2">|</span> Heaven</h1>
                <p class="h3 d-inline-flex pt-2">Now, it's time for you to brush up on your mixology skills</p>
                <p class="h3 pt-2 d-inline-flex">and learn a few classic cocktail recipes.</p>
                <p class="h3 pt-2 d-inline-flex">Start practicing these cocktail recipes.</p>
                {% if user.is_authenticated %}
                <p class="invisible"><a href="{% url 'account_signup' %}">Register Now!</a></p>
                {% else %}
                <p><a href="{% url 'account_signup' %}" class="btn btn-lg btn-success btn-signup px-4">Register Now!</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="sub-text text-muted bg-white py-2">
        <p class="pt-2 text-center h6">Browse our list to find the best cocktail recipes perfect for any occasion. There's sure to be a classic cocktail on this list for you!</p>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <!-- Cocktail column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container img-fluid">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top img-thumbnail"
                                    src="https://res.cloudinary.com/dinbzvx8s/image/upload/v1699958086/static/images/cocktail.7062657aa641.jpg" width="100%" height="auto" alt="mohito-cocktail-glass">
                                {% else %}
                                <img class="card-img-top img-thumbnail" style="max-width: 100%; height: auto;" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="cocktail h6"><strong>Cocktail - {{ recipe.name }}</strong></p>
                                </div>
                                <div class="post-link">
                                    <p class="card-text">{{ recipe.description }}</p>
                                    {% if user.is_authenticated %}
                                    <div class="recipe-link">
                                        <a href="{% url 'recipe' recipe.slug %}"><i class="fa fa-arrow-right"></i> Get
                                            The
                                            {{ recipe.name }} Recipe</a>
                                    </div>
                                    {% else %}
                                    <p class="d-grid gap-2 col-12 mx-auto bold"><section>To view {{ recipe.name }} recipe <a
                                        class="link" href="{% url 'account_login' %}">Login</a> or <a
                                        class="link" href="{% url 'account_signup' %}">Register</a> an account!</section></p>
                                    {% endif %}
                            
                                    {% if user.is_authenticated %}
                                    <div class="choices col-md-12">
                                        <a href="{% url 'edit_cocktail' recipe.slug %}" class="btn btn-sm btn-success  btn-signup">Update</a>
                                        <a href="{% url 'delete_cocktail' recipe.slug %}" class="btn btn-sm btn-success btn-signup">Delete</a>
                                    </div> 
                                    {% endif %} 
                                </div>

                            </div>
                            <hr />
                            <p class="card-text text-muted">{{ recipe.created_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
</div>
{%endblock%}