{% extends 'base.html' %} 
{% block content %}

<div class="main-head">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 main-head-text">
                <h1 class="cocktail-title text-white">{{ cocktail.name }}</h1>
                <p class="cocktail-subtitle text-white">{{ cocktail.user }} | {{ cocktail.created_on }}</p>
            </div> 
            <div class="d-none d-md-block col-md-4 main-head-image">
                {% if "placeholder" in cocktail.featured_image.url %}
                <img src="../static/images/cocktail.jpg" width="55%">
                {% else %}
                <img src=" {{ cocktail.featured_image.url }}"  width="55%">
                {% endif %} 
            </div>  
        </div>
    </div>
</div>   

{% endblock content %}